/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color-primary: #55c57a;
$color-secondary: #28b485;
$color-terc: #7ed56f;

$color-gray: #777;
$color-white: #fff;

$space-horisontal: 4rem;